body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.row {
  padding: inherit;
  margin: auto;
}

.clicky {
  background-color: silver;
  border: none;
  color: pink;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}
.clicky:hover {
  background-color: white;
}

.clicky:active {
  position: relative;
  top: 2px;
}
